.mTextInput {
  border: 2px solid red;
  border-radius: 4px;
  padding: 4px 8px;
}

.mInputLabel {
  color: gray;
}

.mErrorBox {
  background-color: red;
}

.mInputError {
  margin-top: -3px !important;
  font-size: 12px !important;
}
