.mainContainer {
  max-width: 1440px;
  height: 90vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.formContainer {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
.loginForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  margin-top: 20px;
}
.imgContainer {
  border-radius: 20px;

  width: 50%;
}
.logoImg {
  width: 100%;
  height: auto;
}
.card {
  padding: 30px;
  border-radius: 30px;
  box-shadow: 0px 2px 6px 4px #00000021;
  background-color: white;
  width: 450px;
  display: flex;
  justify-content: center;
}
.button {
  margin-top: 10px;
  color: white;
}
.label {
  display: flex;
  margin-bottom: 8px;
}
.forgetPassword {
  cursor: pointer;
}
